body{
    background-size: contain;
    background-image: url(../img/jungle.jpg)
}
p {
    color: aliceblue;
    position: center;
}
h1{
    text-align: center;
    color: chartreuse;
}
p{
    text-align: center;
}
h2 {
    color: chartreuse;
    text-align: center;
}